<h1>Harry Potter Fan Fiction Data Set Analysis</h1>

<i>This is a student project practicing data analysis</i>

<b>Link:</b>https://www.kaggle.com/datasets/nehatiwari03/harry-potter-fanfiction-data/versions/1?resource=download


This data set was created by a Kaggle user. She scraped data from Harry Potter fanfiction.net. It contains all HP Fanfic entries written between 2001-2019 in all available languages. The data doesn't contain the story itself but just the story blurb.



<b>Original Columns</b> of this data set include:

<b>Chapters</b>: Number of Chapters in the story

<b>Favs</b>: Number of users that favorited the story

<b>Follows</b>: Number of users that followed the story

<b>Published</b>: Date Published

<b>Reviews</b>: Number of Reviews

<b>Date Updated</b>: Date Updated

<b>Author</b>: Author username on FanFic.net

<b>Characters</b>: Characters that appear in the story.

<b>Genre</b>: Genre of the story (according to the author)

<b>Language</b>: Language the story was written in

<b>Rating</b>: alphabetic rating decided by the author

<b>Story Link</b>: story URl

<b>Synopsis</b>: summary/blurb added by author

<b>Title</b>: Title of the story

<b>Published mmyy</b>: Month and year of publish date

<b>Pairing</b>: Character pairing in the story.

<b>Project Requirement:<b>Read Data from local CSV

First, I import pandas and the read CSV file!

In [3]:
import pandas as pd
harry_df = pd.read_csv('/Users/natalyanaser/desktop/hpcleanvlarge1.csv')

<h2>Exploring the Data<h2>
I use the head funtion to preview the raw data and check that it loaded properly.

In [4]:
harry_df.head()

,Chapters,Favs,Follows,Published,Reviews,Updated,Words,author,characters,genre,language,rating,story_link,synopsis,title,published_mmyy,pairing
0,1,2,NaN,12/31/2019,1.0,NaN,"6,840",reviews,"Sirius B., Remus L., James P., Regulus B.",Angst/Hurt/Comfort,English,T,https://www.fanfiction.net/s/13466909/1/If-You...,Regulus and James aren't happy. They know they...,If You Change Your Mind,12-2019,NaN
1,1,1,NaN,12/31/2019,NaN,NaN,"10,962",JoyI9199,"Harry P., Draco M., Narcissa M., Charlie W.",Angst/Drama,English,M,https://www.fanfiction.net/s/13466894/1/Bloody...,When a plot from the Founder's age is revealed...,Bloody Ballgowns,12-2019,NaN
2,1,3,2,12/31/2019,NaN,NaN,"8,592",MoonytheMarauder1,"[James P., Regulus B.]",Angst,English,M,https://www.fanfiction.net/s/13466885/1/Nothin...,"Regulus Black is supposed to be dead, but he's...",Nothing Left To Do,12-2019,"James P., Regulus B."
3,2,NaN,NaN,12/31/2019,NaN,NaN,"7,260",LaviniaKatt,Cedric D.,Romance/Fantasy,English,M,https://www.fanfiction.net/s/13466880/1/Patien...,This is a spin off of Harry Potter taking plac...,Patience is a Virtue,12-2019,NaN
4,1,4,3,12/31/2019,NaN,NaN,"1,529",Rowena-Moon-Moon,NaN,NaN,English,T,https://www.fanfiction.net/s/13466807/1/An-Und...,Harry makes a new discovery and perhaps a few ...,An Understanding,12-2019,NaN

Now let's see what columns are in this data set

In [5]:
harry_df.columns

Index(['Chapters', 'Favs', 'Follows', 'Published', 'Reviews', 'Updated',
       'Words', 'author', 'characters', 'genre', 'language', 'rating',
       'story_link', 'synopsis', 'title', 'published_mmyy', 'pairing'],
      dtype='object')

Now let's see how many rows and columns there are in this data set. 
Also- let's see how many what type of data is in each column and how many are non-null values in each.

In [7]:
harry_df.shape
harry_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 648493 entries, 0 to 648492
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Chapters        648493 non-null  int64
 1   Favs            576330 non-null  object
 2   Follows         505289 non-null  object
 3   Published       648493 non-null  object
 4   Reviews         596304 non-null  float64
 5   Updated         238265 non-null  object
 6   Words           648493 non-null  object
 7   author          648493 non-null  object
 8   characters      585453 non-null  object
 9   genre           588566 non-null  object
 10  language        648493 non-null  object
 11  rating          648493 non-null  object
 12  story_link      648493 non-null  object
 13  synopsis        648483 non-null  object
 14  title           648478 non-null  object
 15  published_mmyy  648493 non-null  object
 16  pairing         391670 non-null  object
dtypes: float64(1), int64(1), object(15)
memory usage: 84.1+ MB

Not too many numbers in this data set- only one interger value column and one decimel(float) number column. Mostly this data set is a lot of strings (objects)

Now, let's do a count of how many null values are in each column!

In [8]:
harry_df.isnull().sum().sort_values(ascending=False)

Updated           410228
pairing           256823
Follows           143204
Favs               72163
characters         63040
genre              59927
Reviews            52189
title                 15
synopsis              10
Words                  0
author                 0
Published              0
language               0
rating                 0
story_link             0
published_mmyy         0
Chapters               0
dtype: int64

Looks like the 'Updated' column has the most null values. I don't think I'm interested in this 'Date Updated' column anyways.